@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h6>here is the component NewPage</h6>
<NewPage />
 <input id="txtWord" name="txtWord" placeholder="Enter your text" 
  value ="@value" @onchange="onChange" />

@code
{
    public int value;

    private void onChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
{
    value = (int)args.Value;
}
}
<h6>here is the component Counter</h6>
<Counter Add = "@value" />