@page "/todo"

<h3>Todo @todos.Count(todo => !todo.IsDone)</h3>
<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            @todo.Title @SEP @todo.Details
        </li>
    }
</ul>
<input placeholder="Title" @bind="title"/>
<input placeholder="Additional info" @bind="details"/>
<button @onclick="add">Add todo</button>

@code {
    const string SEP = "-";
    private List<TodoItem> todos = new();
    private string? title;
    private string? details;

    private void add()
    {
        if (!string.IsNullOrWhiteSpace(title))
        {
            todos.Add(new TodoItem { Title = title, Details = details });
            title = string.Empty;
            details = string.Empty;
        }
    }
}
